.theme-light {
    --color-theme-text-thead: #c5c7cb;
    --color-theme-table-row-sticky: #fff;
    --color-theme-accents: #86b300;
    --color-theme-transaction-icon: #394d00;
    --color-theme-page-background-primary: #f5f6fa;
    --color-theme-content-background-primary: #fff;
    --color-theme-feature-background: #111a00;
    --color-theme-table-row: #f8f9fd;
    --color-theme-table-row-hover: #fff;
    --color-theme-text-primary: #172130;
    --color-theme-text-secondary: #426600;
    --color-theme-text-content: #172130;
    --color-theme-text-placeholder: #999999;
    --theme-shadow: 0 1px 9px rgba(203, 208, 228, 0.19);
    --theme-table-hover-shadow: 0 5px 30px rgba(124, 138, 192, 0.22);
    --theme-border: #eeeeee;
    --theme-border-secondary: #e8eeff;
    --nav-background: #ffffff;
    --nav-border: #f1f3fc;
    --stat-background: #fafbfe;
    --theme-text-tertiary: #404040;
    --ark-meter: #e4ece9;
    --theme-button: #e5f0f9;
    --theme-button-active: #c5dbed;
    --theme-button-text: #394d00;
    --theme-button-close: #999999;
    --theme-switch-button: #d1dfeb;
    --theme-switch-button-circle: #a2b0f5;
    --settings-icon: #426600;
    --theme-resigned-label: #4b6600;
    --theme-input-field-border: #abbbca;
    --theme-input-field-border-focus: #000000;
    --theme-input-field-border-hover: #394d00;
    --theme-line-separator: #dae1e7;
}

.theme-light footer a {
    color: #404040;
}

.theme-light footer a:hover {
    color: #7b8291;
}

.theme-dark {
    --color-theme-text-thead: #a1a2a6;
    --color-theme-table-row-sticky: #25262c;
    --color-theme-accents: #86b300;
    --color-theme-transaction-icon: #394d00;
    --color-theme-page-background-primary: #1a1b1f;
    --color-theme-content-background-primary: #202126;
    --color-theme-feature-background: #202126;
    --color-theme-table-row: #25262c;
    --color-theme-table-row-hover: #2a2b31;
    --color-theme-text-primary: #ffffff;
    --color-theme-text-secondary: #a1a2a6;
    --color-theme-text-content: #a1a2a6;
    --color-theme-text-placeholder: #787a86;
    --theme-shadow: 0 1px 9px rgba(0, 0, 0, 0.15);
    --theme-table-hover-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    --theme-border: #25262c;
    --theme-border-secondary: #25262c;
    --nav-background: #2a2b31;
    --nav-border: #282a30;
    --stat-background: #202126;
    --theme-text-tertiary: #626466;
    --ark-meter: #26272c;
    --theme-button: #2a2b31;
    --theme-button-active: #42434c;
    --theme-button-text: #fff;
    --theme-button-close: #787a86;
    --theme-switch-button: #383c4d;
    --theme-switch-button-circle: #5b627c;
    --settings-icon: #a1a2a6;
    --theme-resigned-label: #4b6600;
    --theme-input-field-border: #3d4852;
    --theme-input-field-border-focus: #3d4852;
    --theme-input-field-border-hover: #394d00;
    --theme-line-separator: #585c6f;
}

.theme-dark footer a {
    color: #414348;
}

.theme-dark footer a:hover {
    color: #43475c;
}
